fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
pandas
numpy
scikit-learn
joblib
opencv-python-headless
python-multipart
email-validator
