# Base de datos 
DATABASE_URL=mysql+pymysql://usuario:password@localhost:3306/monitor_asistencia 
 
# JWT 
SECRET_KEY=tu_clave_secreta_muy_larga_y_segura 
ALGORITHM=HS256 
ACCESS_TOKEN_EXPIRE_MINUTES=60 
 
# Configuraci¢n general 
PROJECT_NAME=Monitor Inteligente de Asistencia con IA 
